* {
  margin: 0;
  padding: 0;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: large;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 10000;
}
.navbar__s1 img {
  width: 200px;
  margin: 10px;
  padding: 10px;
}
.navbar__s2 {
  display: flex;
  gap: 20px;
}
.navbar__s2 :hover {
  cursor: pointer;
  text-decoration: underline;
  color: #41eaa1;
}
.navbar__s3 {
  display: flex;
  align-items: center;
  gap: 7px;
}
.navbar__s3 button {
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  background-color: black;
  border: none;
  border: 2px solid black;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.navbar__s3 button:hover {
  background-color: #41eaa1;
  border: 2px solid #41eaa1;
  cursor: pointer;
  color: black;
}

.navbar__4 {
  border: 2px solid gray;
  border-radius: 40px;
  display: flex;
  align-items: center;
  width: 30%;
  display: none;
}

.heading__top {
  margin: 100px;
  margin-bottom: 10px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 30px;
}
.search__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  font-size: large;
  position: sticky;
  top: 91px;
  background-color: white;
  z-index: 1;
  /* border-bottom: 1px solid black; */
  padding: 12px;
}
.search__content p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.search__content--1 {
  display: flex;
  gap: 5px;
  align-items: center;
}
.search__content--1 p:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #41eaa1;
}
.search__bar {
  width: 50%;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px auto;
  border: 2px solid grey;
  border-radius: 40px;
}
.search__bar--s1 {
  width: 100%;
  margin: 0;
}
.search__bar--s1 input {
  outline: none;
  border: none;
  margin: 5px;
  padding: 8px;
  width: 90%;
  background: transparent;
}
.search__bar--s2 button {
  padding: 12px 20px;
  border-radius: 40px;
  border: none;
  background-color: #41eaa1;
  border: 2px solid #41eaa1;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
}
.search__bar--s2 button:hover {
  background-color: #75ffc3;
  border: 2px solid #75ffc3;
  cursor: pointer;
}

/* SECTION 1 */
.section--1 {
  width: 100%;
  text-align: center;
  position: relative;
}
.section--1 img {
  margin: 60px auto;
  height: 600px;
  object-fit: fill;
  border-radius: 10px;
  filter: brightness(0.5);
}
.image-plan {
  position: absolute;
  top: 3%;
  left: 25%;
  width: 600px;
  text-align: left;
}
.image-plan p {
  font-family: poppins, sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: aliceblue;
}
.image-plan p span {
  font-family: poppins, sans-serif;
  font-size: 20px;
  font-weight: 400;
  background-color: aliceblue;
  padding: 6px;
  color: black;
  border-radius: 10px;
}
.image-plan h2 {
  font-family: poppins, sans-serif;
  font-size: 60px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}
.image-plan h3 {
  font-family: poppins, sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}
.image-plan button {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 40px;
  border: none;
  background-color: #41eaa1;
  border: 2px solid #41eaa1;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
}
.image-plan button:hover {
  background-color: #87fcc9;
  cursor: pointer;
}

/* SECTION 2 */
.section--2 {
  text-align: left;
  margin: 10px 120px;
  margin-bottom: 0;
  font-family: poppins, sans-serif;
}
.Topic {
  font-size: 40px;
  font-weight: 600;
}
.section--2 h3 {
  font-size: 20px;
  font-weight: 200;
}
.sea-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  gap: 20px;
  margin: 0px;
  margin-bottom: 0;
  flex-grow: 1;
  flex-basis: 20%;
}
.sea-container__1 {
  position: relative;
  margin: 0;
}
.sea-container__1 img {
  width: 100%;
  height: 300px;
  margin-top: 20px;
}
.sea-container__1 img:hover {
  filter: brightness(0.8);
  transform: scale(1.05);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.sea-container__1 h1 {
  position: absolute;
  left: 30px;
  top: 270px;
  color: white;
  font-family: poppins, monospace;
}

/* SECTION 3 */
.section--3 {
  text-align: left;
  margin: 10px 120px;
  margin-bottom: 0px;
  font-family: poppins, sans-serif;
}
.section--3 h3 {
  font-size: 20px;
  font-weight: 200;
}
.pondy-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  gap: 10px;
  margin: 0px;
  margin-bottom: 0;
  /* flex-grow: 1; */
  /* flex-basis: 20%; */
}
.pondy-container__1 {
  position: relative;
  margin: 0;
}
.pondy-container__1 img {
  width: 100%;
  height: 300px;
  color: rgba(255, 255, 255, 1);
  margin-top: 20px;
  margin-bottom: 0;
}
.pondy-container__1 img:hover {
  filter: brightness(0.8);
  transform: scale(1.05);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.pondy-container__1 #heart {
  position: absolute;
  background-color: white;
  padding: 10px;
  border-radius: 50%;
  top: 7%;
  right: 1%;
  font-size: 20px;
}
.desc {
  font-weight: 600;
  width: 300px;
  margin: 0;
  text-align: left;
}
.ratings {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: 10px;
}
.price {
  font-weight: 500;
}

/* SECTION 4*/

.section--4 {
  text-align: left;
  margin: 60px 120px;
  margin-bottom: 0px;
  font-family: poppins, sans-serif;
  padding: 10px;
}
.explore {
  background-color: #f2f1ec;
}
.explore-container {
  display: flex;
  background-color: #f2f1ec;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  gap: 20px;
  margin: 0px;
  margin-bottom: 0;
  flex-grow: 1;
  flex-basis: 20%;
}
.explore-container__1 {
  position: relative;
  margin: 0;
  text-align: center;
}
.explore-container__1 img {
  width: 100%;
  height: 300px;
  color: rgba(255, 255, 255, 1);
  margin-top: 20px;
  margin-bottom: 0;
}
.explore-container__1 img:hover {
  filter: brightness(0.8);
  transform: scale(1.05);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.explore-container__1 #heart {
  position: absolute;
  background-color: white;
  padding: 10px;
  border-radius: 50%;
  top: 7%;
  right: 1%;
  font-size: 20px;
}
.desc2 {
  margin-top: 20px;
  font-weight: 600;
  width: 400px;
  text-align: center;
  font-family: poppins;
  font-size: 19px;
}

/* SECTION 5 */
.section--5 {
  text-align: left;
  margin: 20px 00px;
  margin-bottom: 0px;
  font-family: poppins, sans-serif;
}
.section--5 h1 {
  background-color: transparent;
}
.Topic {
  font-size: 40px;
  font-weight: 600;
}
.section--5 h3 {
  font-size: 20px;
  font-weight: 200;
}
.dream-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  gap: 20px;
  margin: 0px;
  margin-bottom: 0;
  flex-grow: 1;
  flex-basis: 20%;
}
.dream-container__1 {
  position: relative;
  margin: 0;
}
.dream-container__1 img {
  width: 100%;
  height: 300px;
  margin-top: 20px;
  color: rgba(255, 255, 255, 1);
}
.dream-container__1 img:hover {
  filter: brightness(0.8);
  transform: scale(1.05);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.dream-container__1 h1 {
  font-size: 20px;
  position: absolute;
  left: 10px;
  top: 250px;
  text-align: start;
  background-color: transparent;
  /* align-self: last baseline; */
  color: white !important;
  bottom: 0;
}

/* SECTION 6 */

.section--6 {
  text-align: left;
  margin: 20px 00px;
  margin-bottom: 0px;
  font-family: poppins, sans-serif;
}
.section--6 h1 {
  background-color: transparent;
}
.Topic {
  font-size: 40px;
  font-weight: 600;
}
.section--6 h3 {
  font-size: 20px;
  font-weight: 200;
}
.top__des-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  gap: 20px;
  margin: 0px;
  margin-bottom: 0;
  flex-grow: 1;
  flex-basis: 20%;
}
.top__des-container__1 {
  position: relative;
  margin: 0;
}
.top__des-container__1 img {
  width: 100%;
  height: 300px;
  margin-top: 20px;
  color: rgba(255, 255, 255, 1);
}
.top__des-container__1 img:hover {
  filter: brightness(0.8);
  transform: scale(1.05);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.top__des-container__1 h1 {
  font-size: 25px;
  position: absolute;
  left: 10px;
  top: 270px;
  text-align: start;
  background-color: transparent;
  color: white !important;
  bottom: 0;
}

/* SECTION 7 */

.section--7 {
  text-align: left;
  margin: 20px 00px;
  margin-bottom: 0px;
  font-family: poppins, sans-serif;
}
.section--7 h1 {
  background-color: transparent;
}
.Topic {
  font-size: 40px;
  font-weight: 600;
}
.section--7 h3 {
  font-size: 20px;
  font-weight: 200;
}
.top__des-next-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  gap: 20px;
  margin: 0px;
  margin-bottom: 0;
  flex-grow: 1;
  flex-basis: 20%;
}
.top__des-next-container__1 {
  position: relative;
  margin: 0;
}
.top__des-next-container__1 img {
  width: 100%;
  height: 300px;
  margin-top: 20px;
  color: rgba(255, 255, 255, 1);
}

.top__des-next-container__1 img:hover {
  filter: brightness(0.8);
  transform: scale(1.05);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.top__des-next-container__1 h1 {
  font-size: 25px;
  position: absolute;
  left: 10px;
  top: 270px;
  text-align: start;
  background-color: transparent;
  color: white !important;
  bottom: 0;
}

/* SECTION 8 */
/* Container for the whole section */
.section--8 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f3ebfa; /* Light purple background */
  padding: 20px;
  border-radius: 10px;
}

/* Image styling */
.image-container img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
}

/* Right-side content */
.text-container {
  padding: 20px;
  text-align: center;
  max-width: 400px;
  font-size: 46px;
}
.text-container a {
  text-decoration: underline;
  color: #000;
}

.text-container h2 {
  font-size: 34px;
  font-weight: bold;
  color: #000;
}

.text-container p {
  font-size: 20px;
  color: #444;
}

/* Button Styling */
.button {
  padding: 12px;
  margin-top: 5px;
  background-color: #000;
  border: 2px solid #000;
  color: #fff;
  font-size: 16px;
  font-family: poppins, monospace;
  border-radius: 30px;
}

.button:hover {
  background-color: #333;
  cursor: pointer;
}

/* SECTION 9 */

.section--9 {
  width: 100%;
  text-align: center;
  position: relative;
  margin: 0;
}
.section--9 img {
  margin: 60px auto;
  height: 600px;
  object-fit: fill;
  border-radius: 10px;
  /* filter: brightness(0.5); */
}
.image-plan-1 {
  position: absolute;
  top: 30%;
  left: 20%;
  width: 400px;
  text-align: left;
  margin: 0;
  font-size: larger;
  color: white;
}
.image-plan-1 img {
  width: 15%;
  top: 0%;
  margin: 0;
  padding: 0;
}
.image-plan-1 p {
  font-family: poppins, sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}
.image-plan-1 h2 {
  font-family: poppins, sans-serif;
  font-size: 40px;
  font-weight: 600;
  margin: 0;
}
.image-plan-1 button {
  margin: 10px 0 0 0;
  padding: 10px 20px;
  border-radius: 40px;
  border: none;
  background-color: #41eaa1;
  border: 2px solid #41eaa1;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
}
.image-plan-1 button:hover {
  background-color: #9affd3;
  border: 2px solid #9affd3;
  cursor: pointer;
  color: black;
}

/* FOOTER */
.footer-head {
  font-family: poppins, sans-serif;
  background-color: #f2f2f2;
  margin: 20px;
  font-size: 14px;
  font-weight: 500;
}
.footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}
.footsection-1 {
  display: flex;
  gap: 70px;
  margin: 25px;
  padding: 20px 20px;
}
.footsection-1 a {
  text-decoration: none;
  color: #000;
}
.footsection-1 a:hover {
  color: #19f093;
}
.footerbt-1 {
  font-size: 16px;
  color: #333333;
}
.foot__section-4 {
  margin: 20px;
  padding: 20px 20px;
}
.viator {
  color: #000;
  text-decoration: underline;
}
.viator :hover {
  color: #19f093;
}

.bottom-footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f2f2f2;
  margin: 0 0;
}
.bottom__footer--1 {
  margin: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.bottom__footer--1 img {
  width: 5%;
  margin: 0;
}

.foot__bt--1 {
  display: flex;
  gap: 10px;
  font-size: 16px;
}
.foot__bt--1 a {
  color: #000;
}
.foot__bt--1 a:hover {
  color: #19f093;
}

.bottom__footer--2 {
  display: flex;
  gap: 20px;
  margin: 0 20px;
  width: 40%;
  margin-bottom: 0;
  margin-top: 0;
}
.bottom__footer--2 select {
  padding: 10px 30px;
  gap: 20px;
  text-align: center;
  font-family: poppins, monospace;
  font-weight: 600;
  font-size: 16px;
  width: 100%;
}
.bottom__footer--3 {
  display: flex;
  margin: 0 20px;
  padding: 20px;
  justify-content: space-between;
}
.bottom__desc {
  width: 50%;
}
.bottom__logos {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  font-size: 30px;
}

/* Media Queries */

@media only screen and (max-width: 992px) {
  .navbar__s2 {
    display: none;
  }
  .search__content--1 i {
    display: none;
  }
  .search__bar {
    width: 50%;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px auto;
    border: 2px solid grey;
    border-radius: 40px;
  }
  .search__bar--s1 {
    width: 100%;
    margin: 0;
  }
  .search__bar--s1 input {
    outline: none;
    border: none;
    margin: 5px;
    padding: 8px;
    width: 70%;
    background: transparent;
  }
  .search__bar--s2 button {
    padding: 12px 20px;
    border-radius: 40px;
    border: none;
    background-color: #41eaa1;
    border: 2px solid #41eaa1;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
  }
  .section--1 img {
    margin: 60px auto;
    height: 300px;
    object-fit: fill;
    border-radius: 10px;
    filter: brightness(0.5);
  }
  .image-plan {
    position: absolute;
    top: 1%;
    left: 20%;
    width: 400px;
    text-align: left;
  }
  .image-plan p {
    font-family: poppins, sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: aliceblue;
  }
  .image-plan p span {
    font-family: poppins, sans-serif;
    font-size: 10px;
    font-weight: 300;
    background-color: aliceblue;
    padding: 6px;
    color: black;
    border-radius: 10px;
  }
  .image-plan h2 {
    font-family: poppins, sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: rgb(255, 255, 255);
  }
  .image-plan h3 {
    font-family: poppins, sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: rgb(255, 255, 255);
  }
  .image-plan button {
    margin: 10px;
    padding: 10px 20px;
    border-radius: 40px;
    border: none;
    background-color: #41eaa1;
    border: 2px solid #41eaa1;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
  }
  .image-plan button:hover {
    background-color: #87fcc9;
    cursor: pointer;
  }

  /* SECTION 2 */
  .section--2 {
    text-align: left;
    margin: 10px 120px;
    margin-bottom: 0;
    font-family: poppins, sans-serif;
  }
  .Topic {
    font-size: 25px;
    font-weight: 600;
  }
  .section--2 h3 {
    font-size: 15px;
    font-weight: 200;
  }
  .sea-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    gap: 20px;
    margin: 0px;
    margin-bottom: 0;
    flex-grow: 1;
    flex-basis: 20%;
  }
  .sea-container__1 {
    position: relative;
    margin: 0;
  }
  .sea-container__1 img {
    width: 100%;
    height: 300px;
    margin-top: 20px;
  }
  .dream-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    gap: 20px;
    margin: 0px;
    margin-bottom: 0;
    flex-grow: 1;
    flex-basis: 20%;
  }

  /* SECTION 9 */
  .section--9 img {
    margin: 60px auto;
    height: 300px;
    object-fit: fill;
    border-radius: 10px;
    filter: brightness(0.5);
  }
  .image-plan-1 {
    position: absolute;
    top: 30%;
    left: 10%;
    width: 400px;
    text-align: left;
  }
  .image-plan-1 p {
    font-family: poppins, sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: aliceblue;
  }
  .image-plan-1 p span {
    font-family: poppins, sans-serif;
    font-size: 10px;
    font-weight: 300;
    background-color: aliceblue;
    padding: 6px;
    color: black;
    border-radius: 10px;
  }
  .image-plan-1 h2 {
    font-family: poppins, sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: rgb(255, 255, 255);
  }
  .image-plan-1 h3 {
    font-family: poppins, sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: rgb(255, 255, 255);
  }
  .image-plan-1 button {
    margin: 10px;
    padding: 10px 20px;
    border-radius: 40px;
    border: none;
    background-color: #41eaa1;
    border: 2px solid #41eaa1;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
  }
  .image-plan-1 button:hover {
    background-color: #87fcc9;
    cursor: pointer;
  }

  /* FOOTER */

  .footer-head {
    font-family: poppins, sans-serif;
    background-color: #f2f2f2;
    /* margin: 20px; */
    font-size: 10px;
    font-weight: 500;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }
  .footsection-1 {
    display: flex;
    gap: 70px;
    /* margin: 25px; */
    padding: 20px 20px;
  }
  .footsection-1 a {
    text-decoration: none;
    color: #000;
  }
  .footsection-1 a:hover {
    color: #19f093;
  }
  .footerbt-1 {
    font-size: 12px;
    color: #333333;
  }
  .foot__section-4 {
    margin: 20px;
    padding: 20px 20px;
  }
  .viator {
    color: #000;
    text-decoration: underline;
  }
  .viator :hover {
    color: #19f093;
  }

  .bottom-footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f2f2f2;
    margin: 0 0;
  }
  .bottom__footer--1 {
    margin: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .foot__bt--1 {
    display: flex;
    gap: 10px;
    font-size: 10px;
  }
  .foot__bt--1 a {
    color: #000;
  }
  .foot__bt--1 a:hover {
    color: #19f093;
  }

  .bottom__footer--2 {
    display: flex;
    gap: 20px;
    margin: 0 20px;
    width: 50%;
    margin-bottom: 0;
    margin-top: 0;
  }
  .bottom__footer--2 select {
    padding: 5px 10px;
    gap: 20px;
    text-align: center;
    font-family: poppins, monospace;
    font-weight: 600;
    font-size: 10px;
    width: 100%;
  }
  .bottom__footer--3 {
    display: flex;
    margin: 0 20px;
    padding: 20px;
    justify-content: space-between;
  }
  .bottom__desc {
    width: 50%;
  }
  .bottom__logos {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    font-size: 15px;
  }
}

/* Small Media Query */
@media screen and (max-width: 992px) {
  .search__content--1 {
    font-size: small;
  }
  .search__bar--s1 input {
    outline: none;
    border: none;
    margin: 5px;
    padding: 8px;
    width: 50%;
    background: transparent;
  }
  .pondy-container__1 #heart {
    position: absolute;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    top: 12%;
    right: 1%;
    font-size: 20px;
  }
  .explore-container__1 #heart {
    position: absolute;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    top: 14%;
    right: 1%;
    font-size: 20px;
  }

  .text-container {
    padding: 20px;
    text-align: center;
    max-width: 400px;
    font-size: 26px;
  }
  .text-container a {
    text-decoration: underline;
    color: #000;
  }

  .text-container h2 {
    font-size: 24px;
    font-weight: bold;
    color: #000;
  }

  .text-container p {
    font-size: 20px;
    color: #444;
  }

  /* Button Styling */
  .button {
    padding: 12px;
    margin-top: 5px;
    background-color: #000;
    border: 2px solid #000;
    color: #fff;
    font-size: 16px;
    font-family: poppins, monospace;
    border-radius: 30px;
  }

  .button:hover {
    background-color: #333;
    cursor: pointer;
  }
}
